.landing_wrapper {
  position: relative;
}

.landing_wrapper:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.15;
  background-image: url('../../../public/assets/Landing/Landing.jpg');
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}

.landing_content {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 8rem;

  .landing_heading {
    font-size: 8rem;
    margin-top: 6rem;
  }

  .landing_subheading {
    font-size: 3.7rem;
    margin-top: 8rem;
    width: 60%;
  }

  .button {
    margin-top: 20px;
    width: fit-content;
    padding: 1rem 3rem;
    // height: 48px;
    background-color: transparent;
    border: 2px solid var(--color-primary);
    color: var(--color-primary);
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 0 none;

    p,
    a {
      margin: 0px;
      font-size: 2.4rem;
      position: relative;
      z-index: 1;
      transition: all 0.5s cubic-bezier(0.76, 0, 0.24, 1) allow-discrete;
    }

    &:hover {
      background-color: var(--color-primary);
      box-shadow: 8px 8px #c0c0c0;
      p,
      a {
        color: white;
      }
    }
  }

  .hello {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30rem;
    opacity: 0.2;
  }
}

// ██████╗ ███████╗███████╗██████╗  ██████╗ ███╗   ██╗███████╗██╗██╗   ██╗███████╗
// ██╔══██╗██╔════╝██╔════╝██╔══██╗██╔═══██╗████╗  ██║██╔════╝██║██║   ██║██╔════╝
// ██████╔╝█████╗  ███████╗██████╔╝██║   ██║██╔██╗ ██║███████╗██║██║   ██║█████╗
// ██╔══██╗██╔══╝  ╚════██║██╔═══╝ ██║   ██║██║╚██╗██║╚════██║██║╚██╗ ██╔╝██╔══╝
// ██║  ██║███████╗███████║██║     ╚██████╔╝██║ ╚████║███████║██║ ╚████╔╝ ███████╗
// ╚═╝  ╚═╝╚══════╝╚══════╝╚═╝      ╚═════╝ ╚═╝  ╚═══╝╚══════╝╚═╝  ╚═══╝  ╚══════╝
// Search Friendly: Responsive

// @media only screen and (max-width: 1280px) {
//   html {
//     font-size: calc(100vw / 1280 * 10);
//   }
// }

/* @media only screen and (max-width: 768px) {
  html {
    font-size: calc(100vw / 768 * 10);
  }
} */

@media only screen and (max-width: 420px) {
  .landing_content {
    padding: 4rem;

    .landing_heading {
      font-size: 4rem;
      margin-top: 50%;
    }

    .landing_subheading {
      font-size: 2.7rem;
      margin-top: 8rem;
      width: 100%;
    }

    .button {
      display: none;
    }
  }
}
